header{
    background-color: rgb(208, 236, 48);
    height: 200px;
}

#produtos{
    background-color: chocolate;
    height: 200px;
} 
#historia{
    background-color: blue;
    height: 200px;
}
#gabriela{
    background-color: blueviolet;
    height:200px;
}
